h1 {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.div {
    width: 100px;
    height: 100px;
    background: conic-gradient(at center, red, orange, yellow, lightsalmon, blue, purple, red);
}

.header a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: #000;
}